<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Галерея</h5>
    <nav class="ms-5">
        <a class="p-2 btn btn-outline-primary" href="/">Каталог</a>
        <a class="p-2 btn btn-outline-primary" href="/contacts/">Контакты</a>
    </nav>
</div>


<!--<div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">-->
<!--  <div class="bg-dark p-4">-->
<!--    <h5 class="text-body-emphasis h4">Collapsed content</h5>-->
<!--    <span class="text-body-secondary">Toggleable via the navbar brand.</span>-->
<!--  </div>-->
<!--</div>-->
<!--<nav class="navbar navbar-dark bg-dark">-->
<!--  <div class="container-fluid">-->
<!--    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--  </div>-->
<!--</nav>-->
