{% extends 'catalog/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <h1>{{ object.title }}</h1>
    {% if object.preview %}
    <img src="{{ object.preview.url }}" alt="Preview" class="img-fluid">
    {% endif %}
    <p>{{ object.content }}</p>
    <div>
        <a href="{% url 'catalog:blogpost_edit' object.slug %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'catalog:blogpost_delete' object.slug %}" class="btn btn-danger">Delete</a>
    </div>
</div>
{% endblock %}
