{% extends 'catalog/base.html' %}

{% block content %}

<h2 class="mb-4">Каталог</h2>

{% for product in new_products %}

<div class="col-3">
    <div class="card mb-4 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
        </div>
        <div class="card-body">
            <h1 class="card-title pricing-card-title">{{ product.price }} руб </h1>
            <img src="{{ product.picture.url }}" alt="{{ product.name }}" class="img-thumbnail">
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}