{% extends 'catalog/base.html' %}

<style>
.button-row {
    text-align: center; /* Центрирует кнопки по горизонтали */
    padding: 20px 0; /* Добавляет вертикальный отступ сверху и снизу */
}
.action-button {
    display: inline-block; /* Выравнивает кнопки в строку */
    margin: 0 15px; /* Добавляет горизонтальные отступы между кнопками */
    padding: 10px 25px; /* Пропорциональные отступы для ширины и высоты */
    background-color: transparent; /* Прозрачный фон */
    color: #000; /* Цвет текста по умолчанию */
    text-decoration: none; /* Убирает подчеркивание у ссылок */
    border: 2px solid #000; /* Твердая граница */
    border-radius: 25px; /* Скругленные углы */
    transition: background-color 0.3s, color 0.3s; /* Плавный переход цвета при наведении */
    font-weight: bold; /* Жирный текст */
}
.action-button:hover {
    background-color: #000; /* Цвет фона при наведении */
    color: #fff; /* Цвет текста при наведении */
}








</style>

{% load custom_tags %}
{% block content %}
<div class="container">
    <h2>{{ product.name }}</h2>
    <p>{{ product.description }}</p>
    <p>Цена: {{ product.price }} р.</p>
    <div>Perms: {{ perms }}</div>
    <div>User: {{ user }}</div>
    <div>Superuser: {{ user.is_superuser }}</div>

    <img src="{{ product.picture | image_filter }}" alt="{{ product.name }}" class="img-thumbnail">

    <div class="button-row">
        {% if object.author == request.user %}

        {% if perms.catalog.add_product %}
        <a href="{% url 'catalog:product_add' %}"
           class="btn btn-sm btn-outline-secondary">добавить</a>
        {% endif %}

        {% if perms.catalog.change_product %}
        <a href="{% url 'catalog:product_update' slug=product.slug %}"
           class="btn btn-sm btn-outline-secondary">Изменить</a>

        {% endif %}
        {% if perms.catalog.delete_product %}
        <a href="{% url 'catalog:product_delete' slug=product.slug %}"
           class="btn btn-sm btn-outline-danger">удалить</a>
        {% endif %}
        {% endif %}

    </div>

    <div class="mt-3 mb-3">
        <!-- Дополнительный контент или разделители можно добавить здесь -->
    </div>

    <div class="container text-center">
        <div class="row row-cols-4">
            {% for top_product in top %}
            <div class="col">
                <div class="card h-100" style="width: 20rem;">
                    <img src="{{ top_product.picture | image_filter }}" style="height:18rem"
                         class="card-img-top object-fit-cover" alt="{{ top_product.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ top_product.name }}</h5>
                        <a href="{% url 'catalog:product_detail' top_product.slug %}"
                           class="btn btn-sm btn-outline-secondary">подробнее</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
